name,phone,language,timezone,last_called_at,notes
Me,+3069,el,Europe/Athens,,
Marina,+3069,el,Europe/Athens,,
Panos,+3069,el,Europe/Athens,,
Paulou,+3069,el,Europe/Athens,,
Aderfara,+3069,el,Europe/Athens,,
Zaxaraki,+3069,el,Europe/Athens,,